@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
  background-color: hsl(30, 38%, 92%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  background-color: white;
  margin-top: 200px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 580px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px 10px;
  display: grid;
  margin-bottom: 35px;
  grid-template-columns: 1fr 1fr;
}

.main {
  background-color: white;
  border-radius: 10px;
}

.img-product {
  width: 250px;
  height: 420px;
  border-radius: 10px 0 0 10px;
}


.product-name {
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7em;
  margin-top: 25px;
  margin-bottom: 20px;
}

.frist-line {
  background-color: white;
  display: block;
  font-weight: 700;
  font-size: 2em;
  font-family: 'Fraunces', serif;
  width: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.product-topic {
  background-color: white;
  width: 270px;
  margin-bottom: 15px;
}

.price {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 2em;
  background-color: white;
}

.price span {
  background-color: white;
  color: black;
  text-decoration: line-through;
  font-size: 0.4em;
  margin-left: 15px;
  margin-bottom: 0;
}

.button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 270px;
  text-align: center;
  margin-top: 15px;
  transition: 0.7s ease;
}

.button:hover {
  transform: scale(1.1);
}

button img {
  background-color: hsl(158, 36%, 37%);
}

.attribution {
  margin-top: 200px;
  font-size: 11px;
  text-align: center;
  margin-top: -15px;
  font-size: 14px;
}
.attribution a {
  color: hsl(158, 100%, 39%);
  text-decoration: none;
}

.attribution a:hover {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}

@media (max-width:375px) {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    width: 190px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px 10px;
    display: block;
    margin-bottom: 35px;
  }

  .img-product {
    display: block;
    margin: 0;
    padding: 0;
    width: 190px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    
  }

  .product-name {
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .frist-line {
    background-color: white;
    display: block;
    font-size: 1em;
    font-family: 'Fraunces', serif;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .product-topic {
    background-color: white;
    width: 150px;
    margin-left: 15px;
    font-size: 10px;
  }
  
  .price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 1.5em;
    background-color: white;
    margin-left: 15px;
    margin-top: -8px;
  }
  
  .price span {
    background-color: white;
    color: black;
    text-decoration: line-through;
    font-size: 0.3em;
    margin-bottom: 0;
  }
  
  .button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
    width: 160px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: 0.7s ease;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  button img {
    background-color: hsl(158, 36%, 37%);
  }

  .attribution {
    text-align: center;
    margin-top: -25px;
    font-size: 8px;
  }
  .attribution a {
    color: hsl(158, 100%, 39%);
    text-decoration: none;
  }
  
  .attribution a:hover {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
  }
}